<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/app.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Services">
            <directory suffix="Test.php">./tests/Services</directory>
        </testsuite>
        <testsuite name="Controllers">
            <directory suffix="Test.php">./tests/Controllers</directory>
        </testsuite>
        <testsuite name="Models">
            <directory suffix="Test.php">./tests/Models</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./database/factories</directory>
            <directory suffix=".php">./database/seeders</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_URL" value="http://localhost"/>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_MAILER" value="array"/>
    </php>
</phpunit>
